<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-home no-border" ng-href="#/tab/main"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title icon ion-ios-person"> 我的博绿</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account ">
    <div class="list padding-top list-borderless">
      <a ng-href="#/tab/accountinfo" class="item item-avatar ">
        <img src="img/head.jpg" class="border-radius-50" alt="">
        <h2>潘先生</h2>
        <p>信用等级 <i class="icon ion-star "></i>
          <i class="icon ion-star "></i>
          <i class="icon ion-star "></i>
          <i class="icon ion-star "></i>
          <i class="icon ion-star "></i></p>
        <p class="item-icon-right"><i class="icon ion-ios-arrow-right "></i></p>
      </a>
    </div>
    <div class="list ">
      <a ng-href="#/searchorder" class="item item-icon-left item-icon-right item-borderless">
        <i class="icon ion-document-text"></i>
        <h2>我的订单</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/myadvance" class="item item-icon-left item-icon-right">
        <i class="icon ion-social-usd"></i>
        <h2>我的预收款</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/mycredit" class="item item-icon-left item-icon-right">
        <i class="icon ion-star"></i>
        <h2>我的信用分</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/dealaddress" class="item item-icon-left item-icon-right">
        <i class="icon ion-map"></i>
        <h2>常用地址</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/collectionaccount" class="item item-icon-left item-icon-right border-bottom-none">
        <i class="icon ion-archive"></i>
        <h2>我的收款账户</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right item-borderless">
        <i class="icon ion-information-circled"></i>
        <h2>关于我们</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-arrow-expand"></i>
        <h2>分享给我的朋友</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="#/setting" class="item item-icon-left item-icon-right border-bottom-none">
        <i class="icon ion-gear-a"></i>
        <h2>设置</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
