<ion-view>
  <ion-nav-buttons side="left">
    <button class="button icon ion-android-person no-border"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 博绿网</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus no-border"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" scroll="false">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false">
      <ion-slide><img ng-src="img/banner/banner1.jpg" alt="" class="full-image"/></ion-slide>
      <ion-slide><img ng-src="img/banner/banner2.jpg" alt="" class="full-image"/></ion-slide>
      <ion-slide><img ng-src="img/banner/banner3.jpg" alt="" class="full-image"/></ion-slide>
    </ion-slide-box>
  </ion-content>

</ion-view>
