<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-person no-border" nav-direction=forward ng-href="#/login"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 博绿网</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus no-border" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false" class="stable-bg">
    <ion-refresher on-refresh="getMainData()" pulling-text="下拉更新"></ion-refresher>
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="true" id="main-slide">
      <!--    <ion-slide ng-repeat="item in adImg"><img ng-src="{{item.Url+item.ImgUrl}}" alt="" class="full-image"/>
          </ion-slide>-->
      <ion-slide><img ng-src="img/banner/banner1.jpg" alt="" class="full-image"/></ion-slide>
      <ion-slide><img ng-src="img/banner/banner2.jpg" alt="" class="full-image"/></ion-slide>
    </ion-slide-box>

    <div class="row text-center light-bg  main-list">
      <a class="col" nav-direction=forward ng-href="#/sellprocure"><p class="balanced-bg"><i
        class="icon ion-forward"></i></p>
        <span>我要卖货</span>
      </a>
      <a class="col" nav-direction=forward ng-href="#/releaseprocure"><p class="calm-bg"><i
        class="icon ion-android-cart"></i></p>
        <span>我要买货</span></a>

    </div>
    <div class="row text-center light-bg main-list main-list-last ">
      <a nav-direction=forward ng-href="#/supplygood" class="col"><p class="energized-bg"><i
        class="icon ion-filing"></i></p>
        <span>接单供货</span></a>
      <a nav-direction=forward ng-href="#/applyadvance" class="col"><p class="balanced-bg" style="margin-left: 1.2rem;">
        <i
          class="icon ion-social-usd"></i>
      </p>
        <span>申请预收款</span>
      </a>
    </div>

    <div class="row text-center calm-bg second-list" style="margin-top: 0.6rem">
      <a nav-direction=forward ng-href="#/deliverlist" class="col "><p class="balanced-bg "><i
        class="icon ion-android-train"></i></p>
        <p class="light">发货</p></a>
      <a nav-direction=forward ng-href="#/signlist" class="col "><p class="assertive-bg"><i
        class="icon ion-compose"></i></p>
        <p class="light">签收</p></a>
      <a nav-direction=forward ng-href="#/checkgood" class="col"><p class="energized-bg"><i
        class="icon ion-android-search"></i></p>
        <p class="light">验货</p></a>
    </div>

    <div class="list light-bg " style="margin-top: 0.6rem">
      <a nav-direction=forward ng-href="#/currenttimeoffer" class="item item-borderless">
        <strong>行情报价</strong>
        <span class="item-note">详情>></span>
      </a>
      <a ng-repeat="item in prods | limitTo:5 "  class="item item-thumbnail-left" ng-href="#">
        <img src="{{item.PImgUrl}}" alt="">
        <h2>{{item.PName}} <span class="calm">[按量报价]</span></h2>
        <p>{{item.PIntrodu}} </p>
        <p class="row row-no-padding" ng-repeat="itemp in item.Prices"><span class="col">{{itemp.PriNumMin | number}}~{{itemp.PriNumMax | number}}{{item.PUName}}</span>
          <span class="col assertive text-right">{{itemp.Price | currency :'￥'}} 元/{{item.PUName}}</span>
        </p>
        </p>
      </a>

    </div>
    <div class="list light-bg">
      <a class="item item-borderless">
        <strong>交易公告</strong>
      </a>
      <a nav-direction=forward ng-repeat="item in listNews.data_list" ng-href="#/dealnotice/{{item.ID}}"
         class="item item-thumbnail-left">
        <img ng-src="{{item.PicAddr}}" alt="">
        <h2 class="padding-top">{{item.Title}}</h2>
        <p>{{item.Note}}</p>
        <p>{{item.Source}}         <span class="item-note"> {{item.AddTime | date : 'yyyy-MM-dd'}}</span></p>
      </a>

    </div>

    <div class="list light-bg">
      <a nav-direction=forward ng-href="" class="item item-borderless">
        <strong>公司动态</strong>
      </a>
      <a ng-href="#/companytrends/{{item.ID}}" ng-repeat="item in listCompanyNews.data_list"  class="item item-thumbnail-left">
        <img ng-src="{{item.PicAddr}}" alt="">
        <h2 class="padding-top">{{item.Title}}</h2>
        <p>{{item.Note}}</p>
        <p>{{item.Source}}         <span class="item-note"> {{item.AddTime | date : 'yyyy-MM-dd'}}</span></p>
      </a>

      </a>
    </div>
  </ion-content>
</ion-view>

