<ion-view>
  <ion-nav-title>
    <h1 class="title icon ion-ios-chatbubble"> 消息</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false"  class="stable-bg ">
   <div class="list">
     <a ng-href="" class="item">
       <h2 ><i class="icon ion-ios-circle-filled" style="color:#11c1f3; "></i>发货消息 <span CLASS="item-note">10:35AM</span></h2>
       <h4><i class="icon ion-email"></i>  提示信息：未读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item " >
       <h2 style="color: #585858;" ><i class="icon ion-ios-circle-filled" ></i>发货提醒 <span CLASS="item-note">9:35AM</span></h2>
       <h4 style="color: #585858;" ><i class="icon ion-email"></i>  提示信息：已读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item ">
       <h2 ><i class="icon ion-ios-circle-filled" style="color:#11c1f3; "></i>发货消息 <span CLASS="item-note">10:35AM</span></h2>
       <h4><i class="icon ion-email"></i>  提示信息：未读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item " >
       <h2 style="color: #585858;" ><i class="icon ion-ios-circle-filled" ></i>发货提醒 <span CLASS="item-note">9:35AM</span></h2>
       <h4 style="color: #585858;" ><i class="icon ion-email"></i>  提示信息：已读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item ">
       <h2 ><i class="icon ion-ios-circle-filled" style="color:#11c1f3; "></i>发货消息 <span CLASS="item-note">10:35AM</span></h2>
       <h4><i class="icon ion-email"></i>  提示信息：未读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item " >
       <h2 style="color: #585858;" ><i class="icon ion-ios-circle-filled" ></i>发货提醒 <span CLASS="item-note">9:35AM</span></h2>
       <h4 style="color: #585858;" ><i class="icon ion-email"></i>  提示信息：已读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item ">
       <h2 ><i class="icon ion-ios-circle-filled" style="color:#11c1f3; "></i>发货消息 <span CLASS="item-note">10:35AM</span></h2>
       <h4><i class="icon ion-email"></i>  提示信息：未读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
     <a ng-href="" class="item " >
       <h2 style="color: #585858;text-overflow: ellipsis;" ><i class="icon ion-ios-circle-filled" ></i>发货提醒 <span CLASS="item-note">9:35AM</span></h2>
       <h4 style="color: #585858;" ><i class="icon ion-email"></i>  提示信息：已读  </h4>
       <p style="padding-left: 0.8rem; white-space: normal;">您的收货单SSLJSF30333039已发货，交易方式是送过上门，将在两天之内到货</p>
     </a>
   </div>
  </ion-content>
</ion-view>
