<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title icon ion-search"> 搜索</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">关闭</button>
  </ion-header-bar>
  <ion-content overflow-scroll="false" >
    <div class="bar item-input-inset calm-bg ">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" autofocus placeholder="请输入您要搜索的内容"  ng-model="search.searchquery"/>
      </label>
      <button class="button button-calm stable no-border"  ng-click="" >
        搜索
      </button>
    </div>
  </ion-content>
</ion-modal-view>
