<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
    <button class="button icon ion-android-home no-border"  nav-direction=back native-ui-sref="tab.main" native-options="{type: 'slide',direction: 'right'}"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 我的{{title}}</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-search no-border" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" delegate-handle="slidebox-searchorder" id="searchorder">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs" has-bouncing="true">
        <ion-refresher on-refresh="getSaleOrderList(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData1" class="isNotDataHint">
          <i class="icon ion-android-notifications"></i>
          <p>暂无卖货单</p>
        </div>
        <div class="list margin-top-1px">
          <a ng-href="#/sellorderdetails/{{item}}" class="item" ng-repeat="item in saleorderlist">
            <h2>订单号: {{item.No}} </h2>
            <p>卖货人 : {{item.Fromusername}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  </span></p>
            <p>手机号 : {{item.Fromusermotel}}</p>
            <p>卖货品类 : <span ng-repeat="items in item.Details"> {{items.ProdName}} </span></p>
            <p>订单状态 : <span>{{saleorderStatus[item.Status+1]}}</span></p>
          </a>
        </div>
        <ion-infinite-scroll  on-infinite="getSaleOrderList()" ng-if="sellparamstotal > sellparamspage" immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs" has-bouncing="true">
        <ion-refresher on-refresh="buyOrderList(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData2" class="isNotDataHint">
          <i class="icon ion-android-notifications"></i>
          <p>暂无买货单</p>
        </div>
        <div class="list margin-top-1px">
          <a ng-href="#/procureorderdetails/{{item}}" class="item" ng-repeat="item in buyorderlist">
            <h2>订单号: {{item.No}} </h2>
            <p>买货人 : {{item.Username}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  </span></p>
            <p>手机号 : {{item.Usermotel}}</p>
            <p>买货品类 : <span ng-repeat="items in item.Details"> {{items.ProdName}} </span></p>
            <p>订单状态 : <span>{{buyorderStatus[item.Status+1]}}</span></p>
          </a>
        </div>
        <ion-infinite-scroll  on-infinite="buyOrderList()" ng-if="buyparamstotal > buyparamspage" immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs" has-bouncing="true">
        <ion-refresher on-refresh="getSupplyPlanList(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData3" class="isNotDataHint">
          <i class="icon ion-android-notifications"></i>
          <p>暂无供货计划</p>
        </div>
        <div class="list margin-top-1px">
          <a ng-href="#/supplyorderplan/{{item}}" class="item" ng-repeat="item in supplyorderlist">
            <h2>订单号: {{item.No}} </h2>
            <p>供货人 : {{item.Username}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  </span></p>
            <p>手机号 : {{item.Usermotel}}</p>
            <p>供货品类 : <span ng-repeat="items in item.Details"> {{items.ProdName}} </span></p>
           <!-- <p  class="text-wrap">剩余供货量 : <span  ng-repeat="items in item.Details" >  {{items.ProdName+' : '+items.SupNum+' '+items.UName}} </span> </p>-->
            <p>订单状态 : <span>{{supplyorderStatus[item.Status+1]}}</span></p>
          </a>
        </div>
        <ion-infinite-scroll  on-infinite="getSupplyPlanList()" ng-if="supplyparamstotal > supplyparamspage" immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs" has-bouncing="true">
        <ion-refresher on-refresh="getSaleSupply(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData4" class="isNotDataHint">
          <i class="icon ion-android-notifications"></i>
          <p>暂无收货单</p>
        </div>
        <div class="list margin-top-1px">
          <a ng-href="#/deiverorderdetails/{{item}}" class="item" ng-repeat="item in collectorderlist">
            <h2>订单号: {{item.No}} </h2>
            <p>{{item.OrderType==1?'卖货人 :':'供货人 : '}} {{item.Fromusername}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  </span></p>
            <p>手机号 : {{item.Fromusermotel}}</p>
            <p>{{item.OrderType==1?'卖货':'供货'}}品类 : <span
              ng-repeat="items in item.OrderType==1?item.Details:item.SpO_Details"> {{items.ProdName}} </span></p>
            <p ng-if="item.OrderType==1">订单状态 : <span>{{collectsellStatus[item.Status+1]}}</span></p>
            <p ng-if="item.OrderType==2">订单状态 : <span>{{collectsupplyStatus[item.Status+1]}}</span></p>
          </a>
        </div>
        <ion-infinite-scroll  on-infinite="getSaleSupply()" ng-if="collectparamstotal > collectparamspage" immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
  </ion-slide-box>

  <ion-tabs id="searhorder" class="tabs-light" delegate-handle="my-handle-searchorder">
    <ion-tab title="卖货单" on-select="selectedTab('卖货单',0)">
    </ion-tab>
    <ion-tab title="买货单" on-select="selectedTab('买货单',1)">
    </ion-tab>
    <ion-tab title="供货计划" on-select="selectedTab('供货计划',2)">
    </ion-tab>
    <ion-tab title="收货单" on-select="selectedTab('收货单',3)">
    </ion-tab>
  </ion-tabs>
</ion-view>
