<ion-modal-view >
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title icon ion-search"> 发货清单产品列表</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">关闭</button>
  </ion-header-bar>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg" >
   <ion-list>
     <ion-item class="item-input item-select ">
       <span class="input-label">产品列表</span>
       <select  ng-model="adddeliverinfo.goodtype"  ng-change="selectGoodType(adddeliverinfo.goodtype)">
         <option value="{{item.GID}}"  ng-repeat="item in goodTypeList">{{item.GName}}</option>
       </select>
     </ion-item>
     <ion-item class="item-icon-right" ng-repeat="item in queJianList">{{item.Name}}
      <i ng-if="adddeliverinfo.isAdd[$index]" class="icon ion-ios-plus-outline calm" ng-click="addQueJian($index,item)"></i>
      <i ng-if="adddeliverinfo.isMinus[$index]" class="icon ion-ios-minus assertive" ng-click="minusQueJian($index,item)"></i>
       <label class=" item-input stable-bg"  ng-if="adddeliverinfo.isMinus[$index]">
         <span class="input-label">{{item.Name}}</span>
         <input type="number"  ng-model="adddeliverinfo.num[$index]" placeholder="数量">
       </label>
   </ion-item>

   </ion-list>

  </ion-content>
  <div class="light-bg bottom-0">
    <div class="row row-no-padding">
      <div class="col-66   gongxiang" >共 :  <span class="calm" ng-bind="adddeliverinfo.selectnum"></span>  项</div>
      <button class="button button-calm full-image col-34" ng-click="selectaffirm()" >选好了</button>
    </div>

  </div>
</ion-modal-view>
