<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 发货</h1>
  </ion-nav-title>
  <div class="bar bar-subheader no-border">
    <div class="button-bar">
      <a ng-click="delivery()" class="button"
         ng-class="{true:'button-calm',false:'button-stable'}[goodtype==null||goodtype==1]">物流配送</a>
      <a ng-click="delivergoods()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==2]">送货上门</a>
      <a ng-click="recover()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==3]">上门回收</a>
    </div>
  </div>
  <form  name="deliver">
  <ion-content overflow-scroll="false" class="stable-bg  has-subheader  has-button-footer">
    <div class="list padding-top">
      <label class="item item-input item-borderless">
        <span class="input-label"> 件数</span>
        <input type="text" placeholder="(单位 : 件)" ng-model="deliverinfo.Number" required/>
      </label>
      <label class="item item-input">
        <span class="input-label"> 重量</span>
        <input type="text" placeholder="(单位 : 公斤)" ng-model="deliverinfo.Weight" required>
      </label>
      <label ng-show="goodtype==null||goodtype==1" class="item item-input item-select">
        <div class="input-label">
          物流公司
        </div>
        <select ng-model="deliverinfo.ExpName">
          <option value="{{item.Name}}" ng-repeat="item in expresses">{{item.Name}}</option>

        </select>
      </label>
      <label ng-show="goodtype==null||goodtype==1" class="item item-input item-icon-right" ng-click="barcodeScanner()">
        <span class="input-label"> 物流单号</span>
        <input type="text" placeholder="点击右侧图标扫描" ng-model="deliverinfo.ExpNo" readonly style="background-color: #fff;">
        <i class="icon ion-qr-scanner"></i>
      </label>

<!--  <label ng-show="goodtype==2" class="item item-input item-icon-right">
        <span class="input-label"> 车牌号码</span>
        <input type="text" placeholder=""  >
      </label>-->
      <a ng-href="" ng-show="goodtype==3" class="item item-icon-right">
        <h2>发货人 : 张三</h2>
        <p>手机 : 18256546554</p>
        <p>地址 : 广东省深圳市龙岗区***</p>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </a>

      <label class="item item-input item-icon-right border-bottom-none" ng-click="takePicture()">
        <span class="input-label"> 上传照片:  <span class="grey">货运车、车牌、货物包装照片</span></span>

        <i class="icon ion-android-add calm" ></i>
      </label>
    </div>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <button ng-disabled="!deliver.$valid" class="button button-calm full-image " ng-click="delivergoodssubmit()">提交</button>
  </div>
    </form>
</ion-view>
