<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 发货列表</h1>
  </ion-nav-title>

  <ion-content class="stable-bg" overflow-scroll="false" has-bouncing="true">
    <ion-refresher on-refresh="getSaleSupply(0)" pulling-text="下拉更新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-android-notifications"></i>
      <p>暂无订单信息</p>
    </div>
    <div class="list margin-top-1px">
      <a ng-href="#/deliverdetails/{{item}}" class="item" ng-repeat="item in deliverlist">
        <h2>订单号: {{item.No}} </h2>
        <p>{{item.OrderType==1?'卖货人 :':'供货人 : '}} {{item.OrderType==1?item.Fromusername:item.Username}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  <i
          class="icon ion-ios-arrow-right"></i></span></p>
        <p>手机号 : {{item.OrderType==1?item.Fromusermotel:item.Usermotel}}</p>
        <p>{{item.OrderType==1?'卖货':'供货'}}品类 :  <span ng-repeat="items in item.OrderType==1?item.Details:item.SpO_Details"> {{items.ProdName}} </span> </p>
        <p ng-if="item.OrderType==1">订单状态 : <span>{{sellStatus[item.Status+1]}}</span></p>
        <p ng-if="item.OrderType==2">订单状态 : <span>{{supplyStatus[item.Status+1]}}</span></p>
      </a>

    </div>
    <ion-infinite-scroll  on-infinite="getSaleSupply()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
</ion-view>
