<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收货单详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-menu no-border"  ng-click="openDeliverdetailsPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list">
      <a ng-click="toggle(1)" hide-show class="item item-borderless ">
        <h2><strong>订单号 : </strong>GF201615484878787877<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>采购商家 : 格林美</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>订单状态 : 已验货</h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>下单时间 : 2016-06-23</h2>
        </a>
      </div>
    </div>


    <div class="list">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>供货清单 : <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2">
        <a ng-href="" class="item">
          <h2>拆解机 : 10000台</h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>二手手机 : 10000台</h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>电池 : 10000块</h2>
        </a>
      </div>
    </div>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <a class="button button-calm full-image  " ng-href="#/delivergoods">下一步</a>
  </div>
  <script id="my-deliverdetails-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content overflow-scroll="false">
        <div class="list">
          <a ng-href="" class="item item-icon-left">
            <i class="icon ion-arrow-up-c balanced"></i>
            发货
          </a>
          <a ng-href="" class="item item-icon-left">
            <i class="icon ion-clipboard energized"></i>
            审核验收单
          </a>
          <a ng-href="" class="item item-icon-left">
            <i class="icon ion-star calm"></i>
            评价
          </a>
          <a ng-click="" class="item item-icon-left">
            <i class="icon ion-trash-a royal"></i>
            关闭订单
          </a>
          <a ng-click="" class="item item-icon-left">
            <i class="icon ion-reply assertive"></i>
            退货
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
