<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  nav-direction=back native-ui-sref="{{deliversuccess?'deliverlist':'adddeliverlist'}}" native-options="{type: 'slide',direction: 'right'}" >
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 发货</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-home no-border"  nav-direction=back native-ui-sref="tab.main" native-options="{type: 'slide',direction: 'right'}"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader no-border">
    <div class="button-bar">
      <a ng-click="delivery()" class="button"
         ng-class="{true:'button-calm',false:'button-stable'}[goodtype==null||goodtype==1]">物流配送</a>
      <a ng-click="delivergoods()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==2]">送货上门</a>
      <a ng-click="recover()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==3]">上门回收</a>
    </div>
  </div>
  <form name="deliver">
    <ion-content overflow-scroll="false" class="stable-bg  has-subheader  has-button-footer" has-bouncing="true">
      <div class="list padding-top">
        <label class="item item-input item-borderless">
          <span class="input-label"> 件数</span>
          <input type="number" placeholder="(单位 : 件)" ng-model="deliverinfo.Number" check-form ng-change="checkForm(deliverinfo.Number,'发货件数输入错误 需为正整数','positiveinteger','')" required/>
        </label>
        <label class="item item-input">
          <span class="input-label"> 重量</span>
          <input type="number" placeholder="(单位 : 公斤)" ng-model="deliverinfo.Weight" check-form ng-change="checkForm(deliverinfo.Weight,'发货重量输入错误 正数可保留两位小数','positivenumber','')" />
        </label>
        <label class="item " ng-show="goodtype==null||goodtype==1">
        <span class="input-label"><span class="padding-right">物流公司 : </span>
          <input ng-model="deliverinfo.ExpName" placeholder="填写或选择物流公司" class="no-border bankname"  list="expName" />
        <datalist id="expName">
          <option  ng-repeat="item in expresses">{{item.Name}}</option>
        </datalist></span>

        </label>
        <div ng-show="goodtype==null||goodtype==1" class="item item-input item-icon-right ">
          <span class="input-label"> 物流单号: </span>
          <input class="col-50" type="text" placeholder="点击右侧图标扫描" ng-model="deliverinfo.ExpNo" ng-value="deliverinfo.ExpNo"/>
          <i ng-click="barcodeScanner()" class="icon ion-qr-scanner"></i>
        </div>

        <a ng-href="" ng-if="goodtype==1||goodtype==2" ng-repeat="item in addrliststatus | limitTo:1" class="item item-icon-right">
          <h2>收货人 : {{item.username  }}</h2>
          <p>手机 : {{item.mobile }}</p>
          <p class="text-wrap">地址 : {{item.addr}}</p>
        </a>
        <a ng-href="{{spaddrliststatus.length==0?'#/adddealaddress':''}}" ng-if="goodtype==3"  class="item item-icon-right">
          <h2>{{deliverDetails.OrderType==1?'卖':'供'}}货人 : {{spaddrliststatus[0].username}}</h2>
          <p>手机 : {{spaddrliststatus[0].mobile}}</p>
          <p class="text-wrap">地址 : {{spaddrliststatus[0].addr }}</p>
          <i ng-if="spaddrliststatus.length==0"  class="icon ion-android-add calm"></i>
        </a>

        <label class="item item-input item-icon-right border-bottom-none" ng-click="uploadActionSheet()">
          <span class="input-label"> 上传照片  <span class="grey">货运车、车牌、货物包装照片</span></span>

          <i class="icon ion-android-add calm"></i>
        </label>
        <div class="row  row-wrap row-horizontal-around"  >
          <img ng-repeat="item in imageList" ng-click="shouBigImage(item)" ng-src="{{item}}" alt="" style="height: 6rem" class="col-33 padding">
        </div>

      </div>

    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <button ng-disabled="!(deliver.$valid&&verify)" class="button button-calm full-image " ng-click="delivergoodssubmit()">提交
      </button>
    </div>
  </form>
  <div  ng-if="bigImage" class="popover-backdrop dark-bg pic-has-header" ng-click="hideBigImage()" >
    <img class="full-image"
         ng-src="{{Url}}"/>
  </div>
</ion-view>
