<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 发货详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-list ng-repeat="item in deiverList">
      <ion-item>
        订单号 : {{item.OrderNo}}
      </ion-item>
      <ion-item>
        交易方式 : {{item.TradeType==0?'物流配送':item.TradeType==1?'送货上门':'上门回收'}}
      </ion-item>
      <ion-item>
        件数 : {{item.Number}} 件
      </ion-item>
      <ion-item>
        重量 : {{item.Weight}} 公斤
      </ion-item>
      <ion-item>
        物流公司 : {{item.ExpName}}
      </ion-item>
      <ion-item>
        物流单号 : {{item.ExpNo}}
      </ion-item>

    </ion-list>
    <p></p>
    <ion-list class="list ">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>发货清单  <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2" >
        <ion-item ng-repeat="item in deiverList[0].Details">
          {{item.ProdName}} : {{item.Num + item.UName}}
        </ion-item>

      </div>
    </ion-list>
    <p></p>
    <ion-list>
      <ion-item>
        图片浏览 :(点击浏览大图)
      </ion-item>
    </ion-list>
    <div class="row row-wrap row-horizontal-around"  ng-repeat="item in deiverList">
      <img ng-repeat="items in item.Imgs" ng-click="shouBigImage(items.PicAddr)" ng-src="{{items.PicAddr}}" alt="" style="height: 6rem" class="col-33 padding">
    </div>

  </ion-content>
  <div  ng-if="bigImage" class="popover-backdrop dark-bg pic-has-header" ng-click="hideBigImage()" >
    <img class="full-image"
         src="{{Url}}"/>
  </div>
</ion-view>
