<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收货单详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon button-clear" ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class=" stable-bg" has-bouncing="true" ng-class="{true:'has-button-footer'}[(OrderType==2&&orderStatus==4)||orderStatus==3||orderStatus==4||(OrderType==1&&(orderStatus==6||orderStatus==7))||(OrderType==2&&orderStatus==7)]">
    <div class="list">
      <a ng-click="toggle(1)" hide-show class="item item-borderless ">
        <h2><strong>订单号 : </strong>{{collectGoodDetails.No}}<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>{{collectGoodDetails.OrderType==1?'卖货':'供货'}}人 : {{collectGoodDetails.Fromusername}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2 ng-if="collectGoodDetails.OrderType==1">订单状态 : {{collectsellStatus[collectGoodDetails.Status+1]}}</h2>
          <h2 ng-if="collectGoodDetails.OrderType==2">订单状态 : {{collectsupplyStatus[collectGoodDetails.Status+1]}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>下单时间 : {{collectGoodDetails.AddTime |date:'yyyy-MM-dd HH:mm'}}</h2>
        </a>
        <a ng-href="#/help/15" class="item ">
          <h2>收款账号  <span class="item-note">查看>></span></h2>
        </a>
      </div>
    </div>


    <div class="list">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>{{collectGoodDetails.OrderType==1?'卖货':'供货'}}清单  <span class="item-note"><i class="icon ion-chevron-down"
                                                 ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2">
        <a ng-href="" class="item" ng-repeat="item in collectGoodDetails.OrderType==1?collectGoodDetails.Details:collectGoodDetails.SpO_Details">
          <h2>{{item.ProdName}}: {{item.Num+item.UName}}</h2>
        </a>

      </div>
    </div>

  </ion-content>
  <div  ng-if="(OrderType==2&&orderStatus==4)||orderStatus==3||orderStatus==4||(OrderType==1&&(orderStatus==6||orderStatus==7))||(OrderType==2&&orderStatus==7)"
    class="row row-horizontal-around padding light-bg bottom-0" keyboard-attach>
    <a ng-if="OrderType==2&&orderStatus==4" class="col-40 button button-balanced "  ng-click="paytopaymentsubmit()">付款</a>
    <a  ng-if="orderStatus==3" class="col-40  button button-calm "  ng-href="#/sign">签收</a>
    <a ng-if="(OrderType==1&&orderStatus==4)||(OrderType==2&&orderStatus==5)" class="col-40  button button-balanced "  ng-href="#/addproduct">验货</a>
    <a ng-if="OrderType==1&&(orderStatus==6||orderStatus==7)" class="col-40  button button-calm " ng-click="payfinalpaymentsubmit()"  > 结算</a>
    <a ng-if="OrderType==2&&orderStatus==7" class="col-40  button button-calm " ng-click="payfinalpaymentsubmit()" >支付尾款</a>
  </div>

</ion-view>
