<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 评价</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list padding-top list-borderless">
      <a ng-href="" class="item item-thumbnail-left ">
        <img src="img/head.jpg" class="border-radius-50" alt="">
        <h2>张三</h2>
        <p>18994985566 </p>
        <p>
          <i class="icon ion-star calm "></i>
          <i class="icon ion-star calm"></i>
          <i class="icon ion-star calm"></i>
          <i class="icon ion-star calm"></i>
          <i class="icon ion-star "></i></p>
      </a>
      <ion-item  class="item-borderless item-divider">服务态度 </ion-item>
      <ion-radio ng-model="manner" ng-value="'A'" >满意</ion-radio>
      <ion-radio ng-model="manner" ng-value="'B'">一般</ion-radio>
      <ion-radio ng-model="manner" ng-value="'C'" class="border-bottom-none" >不满意</ion-radio>
      <ion-item  class="item-borderless item-divider">服务效率 </ion-item>
      <ion-radio ng-model="efficiency" ng-value="'A'" >满意</ion-radio>
      <ion-radio ng-model="efficiency" ng-value="'B'">一般</ion-radio>
      <ion-radio ng-model="efficiency" ng-value="'C'" class="border-bottom-none" >不满意</ion-radio>
      <ion-item>综合评分  <span class="padding-left  evaluate-star">  <i class="icon ion-star  " ng-class="{true:'calm',false:'grey'}[star>=1]" ng-click="evaluatestar(1)"></i>
        <i class="icon ion-star " ng-class="{true:'calm',false:'grey'}[star>=2]" ng-click="evaluatestar(2)"></i>
        <i class="icon ion-star " ng-class="{true:'calm',false:'grey'}[star>=3]" ng-click="evaluatestar(3)"></i>
        <i class="icon ion-star " ng-class="{true:'calm',false:'grey'}[star>=4]" ng-click="evaluatestar(4)"></i>
        <i class="icon ion-star " ng-class="{true:'calm',false:'grey'}[star>=5]" ng-click="evaluatestar(5)"></i></span></ion-item>
    </div>



  </ion-content>
  <div class="padding light-bg bottom-0">
    <a class=" button button-balanced  full-image" ng-click="$ionicGoBack()">提交评价</a>
  </div>

</ion-view>
