<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 审核验货单</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list" ng-repeat="item in yanhuolist">
      <a ng-click="toggle(1)" hide-show class="item item-borderless "  >
        <h2><strong>订单号 : </strong>{{item.No}}<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>验收人 : {{item.Username}}</h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>验货时间 : {{item.AddTime | date:'yyyy-MM-dd HH:mm'}}</h2>
        </a>
      </div>

    <div class="list padding-top">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>验货清单  <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2">
  <!--      <li class="item item-divider item-checkbox item-checkbox-right text-right light-bg item-borderless" ng-click="checkAll()" >
          <label class="checkbox checkbox-calm">
            <input type="checkbox"  ng-model="allCheck"/>
          </label>
            全选
        </li>-->
        <li class="item item-checkbox item-checkbox-right " ng-repeat="item in yanhuolistDetails">
          <label class="checkbox checkbox-calm">
            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked"  ng-click="checkChecded()" >
          </label>
          {{item.ProdName}} : {{item.Num + item.UName}}
        </li>

      </div>
    </div>
    </div>
    <ion-list>
      <ion-item>
        <strong>扣款项(扣款总金额: {{yanhuolist[0].Debit}} 元)</strong>
      </ion-item>
      <ion-item class="row item-borderless"  ng-repeat="item in sellquejianList" >
          <span class="col-60 padding">{{item.QJName}} : {{item.Num}} 个</span>
          <span class="col-40 padding">金额 : {{item.Price}} 元</span>
      </ion-item>
    </ion-list>

    <p></p>
    <ion-list>
      <ion-item>
        图片浏览 :(点击浏览大图)
      </ion-item>
    </ion-list>
    <div class="row row-wrap row-horizontal-around"  ng-repeat="item in yanhuolist">
      <img ng-repeat="items in item.Imgs" ng-click="shouBigImage(items.PicAddr)" ng-src="{{items.PicAddr}}" alt="" style="height: 6rem" class="col-33 padding">
    </div>
    <ion-infinite-scroll  on-infinite="getPageSQueJian()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
  <div  ng-if="bigImage" class="popover-backdrop dark-bg" ng-click="hideBigImage()" >
    <img class="full-image"
         src="{{Url}}"/>
  </div>
  <div class="row row-horizontal-around padding light-bg bottom-0">
    <a  class="col-40 button button-balanced " ng-disabled="!(ischecked&&orderStatus==5)" ng-click="examinegoodsordersubmit()">确认交易</a>
    <a class="col-40  button button-calm " ng-disabled="!(ischecked&&orderStatus==5)"  ng-click="salesreturn()">退货</a>
  </div>

</ion-view>
