<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 买货单详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon button-clear" ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list">
      <a ng-click="toggle(1)" hide-show class="item item-borderless ">
        <h2><strong>订单号 : </strong>{{buyDetails.No}}<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>买货人 : {{buyDetails.Username}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>预计买货总金额 : {{buyDetails.TotalPrice | currency:''}}元</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>订单状态 : {{buyorderStatus[buyDetails.Status+1]}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>下单时间 : {{buyDetails.AddTime |date:'yyyy-MM-dd HH:mm'}}</h2>
        </a>
        <a ng-href="#/help/15" class="item ">
          <h2>收款账号  <span class="item-note">查看>></span></h2>
        </a>
      </div>
    </div>


    <ion-list>
      <ion-item  class=" item-borderless">
        <strong>买货清单  </strong>
      </ion-item>
      <p></p>
      <div ng-repeat="item in buyOrderDetails">
        <ion-item ng-click="toggle(0)"   hide-show>
          <h2 class="padding-bottom">{{item.ProdName}} : {{item.Num+item.UName}} <span class="item-note">{{showme?'显示':'隐藏'}}报价 <i class="icon ion-chevron-down padding-left" ng-class="{true:'ion-chevron-right'}[showme]"></i></span></h2>
          <h2 ng-if="items.GrpID==item.GrpID" class="padding" ng-hide="showme" ng-repeat="items in item.Details">
            {{items.ProdName}} : {{items.Price}}元/{{items.UName}}</h2>
        </ion-item>
          <p></p>
      </div>
    </ion-list>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <button class="button button-calm full-image"  ng-disabled="orderStatus!=2" ng-click="procureorderdetailssubmit()">支付定金</button>
  </div>

</ion-view>
