<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 签收详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg">
   <ion-list>
     <ion-item>
       订单号 : 85464646544666
     </ion-item>
     <ion-item>
       交易方式 : 物流配送
     </ion-item>
     <ion-item>
       件数 : 10件
     </ion-item>
     <ion-item>
       重量 : 1000公斤
     </ion-item>
     <ion-item>
       件数 : 10件
     </ion-item>

   </ion-list>
    <p></p>
    <ion-list>
      <ion-item>
        图片浏览 :(点击浏览大图)
      </ion-item>
    </ion-list>
    <div class="row row-horizontal-around">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
    </div>
    <div class="row row-horizontal-around">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
      <img ng-src="img/logonew.png" alt="" class="col-33 padding">
    </div>
  </ion-content>
</ion-view>
