<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 供货记录</h1>
  </ion-nav-title>

  <ion-content class="stable-bg" overflow-scroll="false">
    <div class="list margin-top-1px">
      <a ng-href="#/supplyorderdetails/{{item}}" class="item" ng-repeat="item in supplylist.data_list">
        <h2>订单号: {{item.No}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>供货人 :  {{item.Username}}</p>
        <p>手机号 : {{item.Usermotel}}</p>
        <p>供货品类 :  <span ng-repeat="items in item.Details"> {{items.ProdName}} </span> </p>
        <p>订单状态 : <span>{{supplyStatus[item.Status+1]}}</span></p>
      </a>

    </div>
  </ion-content>
</ion-view>
