<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 供货记录</h1>
  </ion-nav-title>

  <ion-content class="stable-bg" overflow-scroll="false" has-bouncing="true">
    <ion-refresher on-refresh="getSupplyPlanList(0)" pulling-text="下拉更新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-android-notifications"></i>
      <p>暂无供货记录</p>
    </div>
    <div class="list margin-top-1px">
      <a ng-href="#/supplyorderdetails/{{item}}" class="item" ng-repeat="item in supplylist">
        <h2>订单号: {{item.No}} </h2>
        <p>买货人 :  {{item.Tousername}} <span class="item-note">{{item.AddTime |date:'yyyy-MM-dd HH:mm'}}  <i
          class="icon ion-ios-arrow-right"></i></span></p>
        <p>手机号 : {{item.Tousermotel}}</p>
        <p>供货品类 :  <span ng-repeat="items in item.Details"> {{items.ProdName}} </span> </p>
        <p>订单状态 : <span>{{supplyStatus[item.Status+1]}}</span></p>
      </a>
    </div>
    <ion-infinite-scroll  on-infinite="getSupplyPlanList()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
</ion-view>
