<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 供货单详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon button-clear"  ng-click="openPopover($event)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list">
      <a ng-click="toggle(1)" hide-show class="item item-borderless ">
        <h2><strong>订单号 : </strong>{{supplyDetails.No}}<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>买货商家 : {{supplyDetails.Tousername}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2>订单状态 : {{supplyStatus[supplyDetails.Status+1]}}</h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>下单时间 : {{supplyDetails.AddTime |date:'yyyy-MM-dd HH:mm'}}</h2>
        </a>
      </div>
    </div>


    <div class="list">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>供货清单  <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2">
        <a ng-href="" class="item" ng-repeat="item in supplyDetails.Details">
          <h2>{{item.ProdName}}: {{item.Num+item.UName}}</h2>
        </a>

      </div>
    </div>

  </ion-content>
  <div class="row row-horizontal-around padding light-bg bottom-0">
    <a class="col-40 button button-balanced " ng-disabled="orderStatus!=2"  ng-href="#/delivergoods">发货</a>
    <a ng-if="OrdeType==1" class="col-40  button button-calm " ng-disabled="orderStatus!=5" ng-href="#/supplyexamineorder">审核验收</a>
    <a ng-if="OrdeType==2" class="col-40  button button-calm " ng-disabled="orderStatus!=6" ng-href="#/supplyexamineorder">审核验收</a>
  </div>

</ion-view>
