<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com-panweiji-sesamecredit"
    version="1.0.0">
    <name>SesameCredit</name>
    <description>SesameCredit Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Boolv,SesameCredit,PANWEIJI</keywords>

  <js-module src="www/SesameCredit.js" name="SesameCredit">
    <clobbers target="SesameCredit" />
  </js-module>




</plugin>
