<ion-view>
  <ion-nav-buttons side="left">
    <button class="button icon ion-chevron-left no-border" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 买货下单</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-search no-border" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg">
    <div class="list">
      <a ng-href="" class="item item-borderless">
        <strong>供应商列表 : </strong>
      </a>
      <a ng-href="" class="item item-icon-right">
        <h2>姓名 : 张三</h2>
        <p>手机号码 : <span class="calm">18992656565</span></p>
        <p>地址 : 深证市南山区西丽镇酒香林</p>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" class="item item-icon-right">
        <h2>姓名 : 张三</h2>
        <p>手机号码 : <span class="calm">18992656565</span></p>
        <p>地址 : 深证市南山区西丽镇酒香林</p>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" class="item item-icon-right">
        <h2>姓名 : 张三</h2>
        <p>手机号码 : <span class="calm">18992656565</span></p>
        <p>地址 : 深证市南山区西丽镇酒香林</p>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a> <a ng-href="" class="item item-icon-right">
      <h2>姓名 : 张三</h2>
      <p>手机号码 : <span class="calm">18992656565</span></p>
      <p>地址 : 深证市南山区西丽镇酒香林</p>
      <i class="icon ion-ios-arrow-right grey"></i>
    </a> <a ng-href="" class="item item-icon-right">
      <h2>姓名 : 张三</h2>
      <p>手机号码 : <span class="calm">18992656565</span></p>
      <p>地址 : 深证市南山区西丽镇酒香林</p>
      <i class="icon ion-ios-arrow-right grey"></i>
    </a> <a ng-href="" class="item item-icon-right">
      <h2>姓名 : 张三</h2>
      <p>手机号码 : <span class="calm">18992656565</span></p>
      <p>地址 : 深证市南山区西丽镇酒香林</p>
      <i class="icon ion-ios-arrow-right grey"></i>
    </a>
    </div>
  </ion-content>

</ion-view>
