<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 买货-录入报价</h1>
  </ion-nav-title>
  <form name="procuredetails">
    <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
      <div class="list padding-top">
        <div ng-repeat="item in buyDetails">
          <a ng-click="toggle(1)" class="item " hide-show>
            <strong>{{item.PName}} <span class="item-note margin-right-1"><i class="icon ion-chevron-down"
              ng-class="{true:'ion-chevron-right'}[showme1]"></i></span>
            </strong>
          </a>
          <div ng-hide="showme1">
            <label class="item item-input " ng-repeat="items in isNotTHCurrentprods[$index]">
              <span class="input-label">{{items.PName}}</span>
              <input type="number" ng-model="itembuyprice[items.GrpID][$index]" placeholder="报价(单位:元/{{items.PUName}})" check-form  ng-change="checkForm(itembuyprice[items.GrpID][$index],'价格输入错误 正数可保留两位小数','positivenumber','')" />
            </label>
            <p></p>
          </div>
        </div>
      </div>

    </ion-content>
    <div class="padding light-bg bottom-0">
      <a ng-disabled="!(procuredetails.$valid&&verify)" class="button button-calm full-image"
         ng-href="#/releaseprocureorder">下一步</a>
    </div>
  </form>
</ion-view>
