<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 我要买货</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button icon ion-plus no-border" ng-href="#/adddealaddress"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list  padding-top">
      <label class="item item-input">
        <span class="input-label">采购周期</span>
        <input type="number" placeholder="(单位  天)" ng-model="buyCycle.day"   check-form ng-change="checkForm(buyCycle.day,'采购周期不能为空且是正整数','positiveinteger','')" required/>
      </label>
      <a ng-href="#/dealaddress" class="item  item-icon-right">
        <h2><strong>收货人 :</strong> {{addrlistFirst.username}}</h2>
        <h2><strong>手机 :</strong> {{addrlistFirst.mobile}}</h2>
        <h2><strong>地址 :</strong> {{addrlistFirst.addr}}</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>

    </div>
    <p class="text-right  padding"><a class="calm subdued icon ion-help-circled" ng-href="#/help/17"
                                      nav-direction=forward>  查看买货协议</a></p>
  </ion-content>
  <div class="padding light-bg bottom-0">
    <button ng-disabled="!verify" class="button button-calm full-image " ng-click="buygoodssubmit()">提交</button>
  </div>
</ion-view>
