<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 实时报价</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg">
    <div class="list ">
      <a ng-repeat="item in currentprods "  class="item item-thumbnail-left" ng-href="#">
        <img src="{{item.PImgUrl}}" alt="" onerror="this.src='img/logonew.png'">
        <h2>{{item.PName}} <span class="calm">[按量报价]</span></h2>
        <p>{{item.PIntrodu}} </p>
        <p class="row row-no-padding" ng-repeat="itemp in item.Prices"><span class="col">{{itemp.PriNumMin | number}}~{{itemp.PriNumMax | number}}{{item.PUName}}</span>
          <span class="col assertive text-right">{{itemp.Price | currency :'￥'}} 元/{{item.PUName}}</span>
        </p>
        </p>
      </a>
    </div>
     <p class="calm text-center">现在行情不错 , <a href="#/sellprocure" class="calm"> 我要卖货</a></p>
  </ion-content>

</ion-view>
