<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-home no-border" ng-href="#/tab/main"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 交易公告</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-more-horizontal no-border" ng-click="shareActionSheet()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg">
    <h2 class="item text-center">XXXXXXXXX分类标准公告</h2>
    <div class="item item-body">
      <img class="full-image" src="img/main/phone.png">
      <p>
        关于深圳证券交易所关注函的专项回复公告
        本公司及董事会全体成员保证公告内容的真实、准确和完整，没有虚假记载、
        误导性陈述或者重大遗漏。
        深圳大通实业股份有限公司（下称“公司”）于 2016 年 7 月 1 日收到深
        圳证券交易所公司管理部出具的《关于对深圳大通实业股份有限公司的关注函》
        （公司部关注函[2016]第 125 号），现根据关注函的要求，对深交所关注的相关
        事项进行回复并披露如下：

        1、说明上述“择机实施高送转方案”的具体筹划过程、目前所处阶段、在

        信息保密和防范内幕交易方面所采取的措施、相关信息的保密情况以及是否存

        在信息泄漏。

        回复：公司 2016 年 6 月 21 日收到实际控制人关于建议公司实施高送转通知，

        为充分保护广大投资者的利益，保证信息披露的及时性和公平性，及时履行了披

        露义务。公司 2016 年 7 月 2 日收到实际控制人《关于深圳大通实业股份有限公

        司 2016 年半年度利润分配预案及资本公积金转增股本预案的提议及承诺》，公司

        立即组织召开会议讨论此事，经公司半数以上董事书面承诺在公司董事会审议上

        述利润分配预案及资本公积金转增股本相关议案时投赞成票。公司及时披露了

        《关于 2016 年半年度利润分配预案及资本公积金转增股本预案的预披露公告》。

        在此期间，公司严格控制内幕信息知情人的范围，并对相关内幕信息知情人

        履行保密和严禁内幕交易的告知义务。此事项不存在信息泄露的情况。

        2、结合上一问，你公司称“目前没有任何根据本所《股票上市规则》等有

        关规定应予以披露而未披露的事项或与该事项有关的筹划、商谈、意向、协议”

        的合理合规性。
        回复：公司 2016 年 7 月 2 日收到了实际控制人《关于深圳大通实业股份有

        限公司 2016 年半年度利润分配预案及资本公积金转增股本预案的提议及承诺》，

        并及时履行了披露义务。公司在 2016 年 6 月 30 日尚未收到高送转的方案，据以
        此，公司在 2016 年 6 月 30 日没有根据《股票上市规则》等有关规定应予以披露

        而未披露的事项或与该事项有关的筹划、商谈、意向、协议。

        3、你公司关于高送转方案的信息披露是否符合本所《股票上市规则》第 2.1

        条和《主板上市公司规范运作指引》第 7.6.9 条、第 7.6.10 条和第 7.6.11 条的规

        定，是否存在误导投资者的情形，并说明具体理由。请独立董事发表独立意见。

        回复：公司 2016 年 6 月 21 日收到实际控制人关于建议公司实施高送转通知，

        为充分保护广大投资者的利益，保证信息披露的及时性和公平性，及时履行了披

        露义务。2016 年 7 月 2 日公司在收到实际控制人《关于深圳大通实业股份有限

        公司 2016 年半年度利润分配预案及资本公积金转增股本预案的提议及承诺》后

        已按照相关规定履行披露义务。不存在误导投资者的情形。

        4、根据本所《主板上市公司规范运作指引》的相关规定，详细说明近期接

        待机构和个人投资者调研的情况，是否存在违反公平披露原则的事项。

        回复：公司全资子公司杭州视赚网络技术有限公司于 2016 年 6 月 28 日

        17:30-20:30 接待了国泰君安证券研究所传媒首席分析师陈筱的调研，调研的内

        容围绕着传媒产业的发展趋势、视赚网络的战略定位、商业模式、业务发展布局、

        产品/服务、经营管理、投资合作等方面展开详细沟通、探讨。深大通投资者关

        系活动记录表已履行相关披露义务。

        公司近期在深交所互动易及公司电话接到投资者咨询以下问题：公司何时披

        露高送转方案，公司何时披露 2016 年业绩预告，公司何时披露 2016 年半年度报

        告，公司截至 2016 年 6 月 30 日股东总户数。公司皆以公司已对外披露的情况告

        知，并未透露未公开的重大信息，不存在违反公平披露原则的情况。

        5、核查你公司董事、监事、高级管理人员及其直系亲属是否存在买卖你公

        司股票的行为，是否存在涉嫌内幕交易的情形。

        回复：自 2016 年 6 月 22 日至今，公司董事、监事、高级管理人员及其直系

        亲属不存在买卖公司股票的行为（除管琛、于秀庆于 2016 年 6 月 23 日通过华安
        资产管理计划 3 号认购深大通非公开发行的股份外），不存在涉嫌内幕交易的情

        形。

        6、你公司认为应当说明或披露的其他事项。
        回复：公司暂无应当说明或披露的其他事项。


        以上为我司对关注函的专项回复。
        特此公告
      </p>
    </div>
  </ion-content>

</ion-view>
