<ion-popover-view style="height: 325px;" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">
    <div class="list">
      <a ng-href="#/delivergoods" class="item item-icon-left">
        <i class="icon ion-arrow-up-c balanced"></i>
        发货
      </a>
      <a ng-href="" class="item item-icon-left">
        <i class="icon ion-ios-search-strong assertive "></i>
        签收详情
      </a>
      <a ng-href="#/examinegoodsorder" class="item item-icon-left">
        <i class="icon ion-clipboard energized"></i>
        验货详情
      </a>
      <a ng-href="#/evaluate" class="item item-icon-left">
        <i class="icon ion-star calm"></i>
        评价
      </a>
      <a ng-click="closeordersubmit()" class="item item-icon-left">
        <i class="icon ion-trash-a royal"></i>
        关闭订单
      </a>
      <a ng-href="#/examinegoodsorder" class="item item-icon-left">
        <i class="icon ion-reply assertive"></i>
        退货
      </a>
    </div>
  </ion-content>
</ion-popover-view>
