<ion-popover-view style="height: 220px;" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">
    <div class="list">
      <a ng-href="#/sellprocure" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-forward balanced"></i>
        我要卖货
      </a>
      <a ng-href="#/releaseprocure" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-cart energized"></i>
        我要买货
      </a>
      <a ng-href="#/supplygood" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-filing calm"></i>
        接单供货
      </a>
      <a ng-click="barcodeScanner()" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-camera royal"></i>
        扫一扫
      </a>
    </div>
  </ion-content>
</ion-popover-view>
