<ion-popover-view style="height: {{popoversize}};" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">
    <div id="mypopover" class="list">
      <a ng-click="paytopaymentsubmit()" ng-if="OrderType==2&&orderStatus==4" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-social-usd assertive"></i>
        支付到付款
      </a>
      <a ng-href="#/deiverdetails" ng-if="orderStatus>2" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-train calm "></i>
        发货详情
      </a>
      <a ng-href="#/signindetails" ng-if="orderStatus>3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-ios-search-strong assertive "></i>
        签收详情
      </a>
      <a ng-href="#/examinegoodsorder" ng-if="orderStatus>4" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-clipboard energized"></i>
        验货详情
      </a>
      <a ng-href="#/sign"  ng-if="orderStatus==3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-compose calm"></i>
        签收
      </a>
      <a ng-href="#/addproduct" ng-if="orderStatus==4" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-search balanced"></i>
        验货
      </a>
      <a ng-click="payfinalpaymentsubmit()"  ng-if="(OrderType==2&&orderStatus==7)||(OrderType==1&&(orderStatus==6||orderStatus==7))" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-card assertive"></i>
        {{OrderType==1?"结算":"支付尾款"}}
      </a>
      <a ng-href="#/evaluate" ng-if="orderStatus>8" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-star energized"></i>
        评价
      </a>
    </div>
  </ion-content>
</ion-popover-view>
