<ion-popover-view style="height: {{popoversize}};" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">
    <div id="mypopover" class="list">
      <a ng-click="paymentsubmit()" ng-if="orderStatus==2" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-arrow-up-c balanced"></i>
        支付定金
      </a>
      <a ng-href="#/evaluate" ng-if="orderStatus==9" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-star calm"></i>
        评价
      </a>
      <a ng-click="closeordersubmit()" ng-if="orderStatus>=0&&orderStatus<3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-trash-a royal"></i>
        关闭订单
      </a>
    </div>
  </ion-content>
</ion-popover-view>
