<ion-popover-view style="height: 165px;" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">
    <div class="list">
      <a ng-href="#/enteringnum" class="item item-icon-left">
        <i class="icon ion-android-add balanced"></i>
        备货
      </a>
      <a ng-href="#/supplyorderlist" class="item item-icon-left">
        <i class="icon ion-android-list calm"></i>
        供货记录
      </a>
      <a ng-click="closeordersubmit()" class="item item-icon-left">
        <i class="icon ion-trash-a royal"></i>
        关闭订单
      </a>
    </div>
  </ion-content>
</ion-popover-view>
