<ion-popover-view style="height: {{popoversize}};" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">

    <div id="mypopover" class="list">
      <a ng-href="#/adddeliverlist"  ng-if="orderStatus==2" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-arrow-up-c balanced"></i>
        发货
      </a>
      <a ng-href="#/deiverdetails" ng-if="orderStatus>2" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-train calm "></i>
        发货详情
      </a>
      <a ng-href="#/signindetails" ng-if="orderStatus>3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-ios-search-strong assertive "></i>
        签收详情
      </a>
      <a ng-href="#/supplyexamineorder" ng-if="orderStatus>4" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-clipboard energized"></i>
        验货详情
      </a>
      <a ng-href="#/evaluate" ng-if="orderStatus>8" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-star calm"></i>
        评价
      </a>
      <a ng-click="closeordersubmit()" ng-if="orderStatus>=0&&orderStatus<3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-trash-a royal"></i>
        关闭订单
      </a>
      <a ng-href="#/enteringnum"  ng-if="(orderStatus==2||orderStatus==3)&&isSupply" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-add balanced"></i>
        提交供货单
      </a>
      <a ng-href="#/supplyorderlist" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-list calm"></i>
        供货记录
      </a>

    </div>
  </ion-content>
</ion-popover-view>
