<ion-popover-view style="height: {{popoversize}};" ng-controller="MyPopover">
  <ion-content overflow-scroll="false">

    <div id="mypopover" class="list">

      <a ng-click="closeordersubmit()" ng-if="orderStatus>=0&&orderStatus<3" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-trash-a royal"></i>
        关闭订单
      </a>
      <a ng-href="#/enteringnum"  ng-if="(orderStatus==2||orderStatus==3)&&isSupply" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-add balanced"></i>
        提交供货单
      </a>
      <a ng-href="#/supplyorderlist" class="item item-icon-left" nav-direction=forward>
        <i class="icon ion-android-list calm"></i>
        供货记录
      </a>

    </div>
  </ion-content>
</ion-popover-view>
