<ion-view>
  <ion-nav-buttons side="left">
    <a class="button icon ion-android-home no-border" ng-href="#/tab/main"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title icon ion-ios-person"> 账号信息</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg account ">
    <div class="list margin-top-1px ">
      <a ng-href="" class="item item-avatar item-icon-right  item-borderless">
        <img src="img/head.jpg" class="border-radius-50" alt="">
        <p>头像</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="" class="item item-icon-right">
        <h2>昵称 <span class="item-note">张三</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="" class="item item-icon-right">
        <h2>手机号码 <span class="item-note">1895654215</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="" class="item item-icon-right border-bottom-none">
        <h2>会员类型 <span class="item-note">普通会员</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>


      <a ng-href="#/applyprovider" class="item stable-bg item-borderless">
        <h2 class="calm text-right">申请成为供应商>></h2>
      </a>


      <a ng-href="" class="item item-icon-right item-borderless">
        <h2>性别 <span class="item-note">男</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a ng-href="" class="item item-icon-right border-bottom-none">
        <h2>地区 <span class="item-note">广东 深圳</span></h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
