<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 新增账户</h1>
  </ion-nav-title>
  <form name="addbank">
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg ">
    <div class="list list-borderless ">
      <p class="padding-top"></p>
      <label class="item item-input ">
        <span class="input-label">用户姓名 : </span>
        <input type="text" placeholder="请输入真实姓名" ng-model="bankinfo.accountname" required/>
      </label>
      <p class="padding-top"></p>
      <label class="item item-input ">
        <span class="input-label">银行卡号 : </span>
        <input type="text" placeholder="请输入完整卡号" ng-model="bankinfo.accountno" required/>
      </label>
      <p class="padding-top"></p>
      <label class="item ">
        <span class="input-label"><span class="padding-right">银行名称 : </span><input ng-model="bankinfo.bankname" placeholder="填写或选择银行名称" class="no-border bankname"  list="bankName" required/>
        <datalist id="bankName">
          <option  ng-repeat="item in bankName">{{item.Name}}</option>
        </datalist></span>

      </label>
      <p class="padding-top"></p>
      <label class="item item-input ">
        <span class="input-label">支行名称 : </span>
        <input type="text" placeholder="请输入正确的支行名称" ng-model="bankinfo.branchname" required/>
      </label>
      <p class="padding-top"></p>
      <div class="item item-checkbox item-borderless checkbox-balanced">
        <label class="checkbox">
          <input type="checkbox" ng-model="bankinfo.isdefault">
        </label>
        是否默认
      </div>
    </div>
  </ion-content>
  <div class="padding light-bg  bottom-0">
    <a ng-disabled="!addbank.$valid" class="button button-calm full-image " ng-click="addUserBank()" >申请提交</a>
  </div>
    </form>
</ion-view>
