<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 申请预收款</h1>
  </ion-nav-title>
  <form name="applyadvance">
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg ">
    <div class="list list-borderless ">
        <label class="item item-input">
          <span class="input-label">申请金额</span>
          <input type="number" placeholder="最高额度100000元" ng-model="applyinfo.Money" check-form ng-change="checkForm(applyinfo.Money,'申请金额输入错误 正数可保留两位小数','positivenumber','')" required/>
        </label>

      <a ng-href="" class="item item-divider">
        <p>贷款发放日起 , 开始计息</p>
      </a>
      <label class="item item-input border-bottom-1">
        <span class="input-label">借款周期</span>
        <input type="number" placeholder="不能超过30天" check-form ng-change="checkForm(applyinfo.Cycle,'借款周期不能超过30天','maxvaule',30)" ng-model="applyinfo.Cycle" required/>
      </label>
      <a ng-href="" class="item " >
        <h2 style="color:#444;">服务费 <span class="item-note dark font-size-1" >0.03%</span></h2>
      </a>
      <a ng-href="" class="item item-divider">
        <p>收款账户</p>
      </a>
      <a ng-href="#/collectionaccount" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>{{userbankliststatus[0].accountname}}</h2>
        <h2><strong>账号 : </strong>{{userbankliststatus[0].accountno}}</h2>
        <h2><strong>银行 : </strong>{{userbankliststatus[0].bankname}}</h2>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </a>
    </div>
    <p class="text-center"><a ng-href="#/help/14" class="grey padding-right">我的信用分  </a> | <a ng-href="#/help/12" nav-direction=forward class="calm padding-left">  我要提高额度>></a></p>
  </ion-content>
  <div class="padding light-bg  bottom-0">
    <button class="button button-calm full-image " ng-disabled="!(applyadvance.$valid&&verify)" ng-click="applyadvancesubmit()">提交申请</button>
  </div>
  </form>
</ion-view>
