<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "> <img id="logo" src="img/logo.png" alt=""/> 申请成为供货商</h1>
  </ion-nav-title>
  <form name="applyprovider">
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg ">
    <div class="list list-borderless">
      <label class="item item-input ">
        <span class="input-label"> 姓名</span>
        <input type="text"  ng-model="addrinfo.username" placeholder="供货商姓名" required/>
      </label>
      <p></p>
      <label class="item item-input ">
        <span class="input-label"> 月供应量</span>
        <input type="number"  ng-model="addrinfo.num" placeholder="（单位 : 台）" ng-pattern="/^[1-9]\d*(\.\d+)?$/" required/>
      </label>
      <p class="padding-top"></p>
      <label class="item item-input item-select">
        <div class="input-label">
          供货省
        </div>
        <select ng-model="addrinfo.province" required  ng-change="selectProvince(addrinfo.province)">
          <option  value="{{item.code}}" ng-repeat="item in addrareaprovince">{{item.name}}</option>
        </select>
      </label>
      <p class="padding-top"></p>
      <label class="item item-input item-select">
        <div class="input-label">
          供货市
        </div>
        <select ng-model="addrinfo.city" required  ng-change="selectCity(addrinfo.city)">
          <option value="{{item.code}}" ng-repeat="item in addrareacity">{{item.name}}</option>
        </select>
      </label>
      <p class="padding-top"></p>
      <label class="item item-input item-select">
        <div class="input-label">
          供货县
        </div>
        <select ng-model="addrinfo.county" required   >
          <option   value="{{item.code}}"   ng-repeat="item in addrareacounty">{{item.name}}</option>
        </select>
      </label>
      <p class="padding-top"></p>
      <label class="item item-input ">
        <span class="input-label"> 详细地址</span>
        <textarea class="col-60" rows="2"   ng-model="addrinfo.address" placeholder="请输入真实详细地址"  required></textarea>
      </label>
    </div>

  </ion-content>
  <div class="padding light-bg  bottom-0">
    <button ng-disabled="!applyprovider.$valid" class="button button-calm full-image " ng-click="applyprovidersubmit()">提交申请</button>
  </div>
  </form>
</ion-view>
