<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "> <img id="logo" src="img/logo.png" alt=""/> 申请成为供应商</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg ">
    <div class="list margin-top-1px ">
      <label class="item item-input item-borderless">
        <span class="input-label"> 月供应量:</span>
        <input type="text" placeholder="（单位 : 台）">
      </label>
      <a ng-href="" class="item  border-bottom-none">
        <h2>供货地区 :<span class="item-note">广东  深圳</span></h2>
      </a>
    </div>

  </ion-content>
  <div class="padding light-bg  bottom-0">
    <button class="button button-calm full-image " ng-click="applyprovidersubmit()">提交申请</button>
  </div>
</ion-view>
