<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title"><img id="logo" src="img/logo.png" alt=""/> 解绑手机</h1>
  </ion-nav-title>
  <form name="cancelmobile">
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <p></p>
      <div class="list ">
        <label class="item item-input">
          <span class="input-label icon ion-android-phone-portrait"> 原手机号</span>
          <input type="number" ng-model="user.username"  ng-keyup="checkphone(user.username)"  maxlength="11" required>

        </label>
        <label class="item item-input">
          <span class="input-label icon ion-unlocked "> 验证码</span>
          <input type="number" ng-model="user.password"  required>
        </label>
        <button class="authcode" ng-class="{false:'disabledauthcode'}[paraclass]"   ng-click="sendCode()" >{{paracont}}</button>

      </div>
 </ion-content>
  <div class="padding light-bg  bottom-0" keyboard-attach>
    <a ng-disabled="!cancelmobile.$valid" class="button button-calm full-image "  ng-click="cancelMobileSubmit()" >下一步</a>
  </div>
  </form>
</ion-view>

