<ion-view>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收款账号</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button icon ion-plus no-border" ng-href="#/addbankaccount"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg ">
    <div class="list list-borderless">
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>张三</h2>
        <h2><strong>账号 : </strong>**********88963</h2>
        <h2><strong>银行 : </strong>中国平安银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p class="padding-top"></p>
   </div>
  </ion-content>

</ion-view>
