<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收款账号</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button icon ion-plus no-border" ng-href="#/addbankaccount"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg ">
    <ion-refresher on-refresh="getUserBanklist(0)" pulling-text="下拉更新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-sad"></i>
      <p>无收款账号</p>
    </div>
    <ion-list class="list list-borderless">
      <div ng-repeat="item in userbanklist">
      <ion-item  ng-click="selectAccount(item)"   class="item-borderless">
        <h2><strong>收款人 : </strong>{{item.accountname}}    <span ng-if="item.isdefault==1" class="right-1  balanced"> ● 默认</span></h2>
        <h2><strong>账号 : </strong>{{item.accountno}}</h2>
        <h2><strong>银行 : </strong>{{item.bankname}}</h2>
        <ion-option-button class="button-calm" ng-click="updatebank(item)">编辑</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="delUserBank(item.id)">删除</ion-option-button>
     <!--   <i class="icon ion-ios-arrow-right grey-arrow-right"></i>-->
      </ion-item>
      <p></p>
      </div>
   </ion-list>
    <p ng-if="userbanklist.length!=0" class="text-center padding-top grey"><i class="icon ion-information-circled"></i> 列表左滑可编辑删除收款账号</p>
    <ion-infinite-scroll  on-infinite="getUserBanklist()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>

</ion-view>
