<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收款账号</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button icon ion-plus no-border" ng-href="#/addbankaccount"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg ">
    <ion-list class="list list-borderless">
      <div ng-repeat="item in userbanklist.data_list">
      <ion-item ng-href="#/davancedetails" class="item  item-icon-right item-borderless">
        <h2><strong>收款人 : </strong>{{item.accountname}}</h2>
        <h2><strong>账号 : </strong>{{item.accountno}}</h2>
        <h2><strong>银行 : </strong>{{item.bankname}}</h2>
        <ion-option-button class="button-assertive" ng-click="delUserBank(item.id)">删除</ion-option-button>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </ion-item>
      <p></p>
      </div>
   </ion-list>
  </ion-content>

</ion-view>
