<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 预收款详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg " has-bouncing="true">
    <ion-refresher on-refresh="getRepayment(0)" pulling-text="下拉更新"></ion-refresher>
    <div class="list list-borderless  light-bg text-center">
      <p class="item energized" style="font-size: 1.5rem;">
        {{applaydetails.Money|currency:'￥'}}
      <p class="grey">{{repaymentstatus[applaydetails.Status+1]}}</p>
      <p class="grey">剩余还款周期 : {{applaydetails.Cycle>=diffCycle?applaydetails.Cycle-diffCycle:'已超期'+(diffCycle-applaydetails.Cycle)}}天</p>
      </p>
    </div>
    <div class="list ">
      <a ng-click="toggle(1)" hide-show class="item item-borderless">
        <strong>预收款明细 <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></strong>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>申请金额 <span class="item-note font-size-1-3 dark"> {{applaydetails.Money|currency:'￥'}}</span></h2>
        </a>
        <a ng-href="" class="item ">
          <h2>申请时间 <span class="item-note ">{{applaydetails.AddTime |date:'yyyy-MM-dd HH:mm'}}</span></h2>
        </a>
        <a ng-href="" class="item ">
          <h2>合同期限 <span class="item-note ">{{applaydetails.EffectDate |date:'yyyy-MM-dd '}} 至 {{applaydetails.RepaymentDate |date:'yyyy-MM-dd '}}</span></h2>
        </a>
        <a ng-href="" class="item ">
          <h2>还款方式 <span class="item-note ">{{applaydetails.RepaymentType==1?'等额本金':'等额本息'}}</span></h2>
        </a>
        <a ng-href="#/help/21" class="item  border-bottom-none">
          <h2>借款合同 <span class="item-note ">查看 <i class="icon ion-ios-arrow-right"></i></span></h2>
        </a>
      </div>
    </div>
    <div class="list ">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>还款明细 <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2" ng-repeat="item in repaylist">
        <a ng-href="" class="item " >
          <h2>已还本金 <span class="item-note font-size-1-3 dark">{{item.repayPrincipal|currency:''}}</span></h2>
        </a>
        <a ng-href="" class="item  border-bottom-none">
          <h2>已还服务费 <span class="item-note font-size-1-3 dark">{{item.Money-item.repayPrincipal|currency:''}}</span></h2>
        </a>
      </div>
    </div>
    <ion-infinite-scroll  on-infinite="getRepayment()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
  <div class="padding light-bg row row-horizontal-around bottom-0">
    <a class="col-80 button button-calm"  ng-disabled="(repayPrincipalTotal>=applaydetails.Money)||(applaydetails.Status>=4||applaydetails.Status<=1)" ng-href="#/repayment" >还款  <small   ng-if="repayPrincipalTotal>=applaydetails.Money">(还款金额不能大于借款金额)</small></a>
    <!--    <button class="col-40 button button-stable  " ng-click="">取消</button>-->
  </div>

</ion-view>
