<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 设置</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg ">
    <div class="list list-borderless ">
      <a ng-href="" class="item">
        <h2>账号安全 <span class="item-note">安全等级 : 中 <i class="icon ion-ios-arrow-right"></i></span></h2>
      </a>
    </div>
    <div class="list list-borderless ">
      <a ng-href="" class="item item-icon-right">
        <h2>新消息通知 </h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" class="item item-icon-right" style="border-top: 1px solid rgb(211,211,211)">
        <h2>帮助与反馈</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </div>

    <a class="button button-light   full-image  padding-top no-border" ng-href="#/login" style="color:red;">退出登录</a>
  </ion-content>

</ion-view>
