<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 供货计划</h1>
  </ion-nav-title>
  <form name="supplyplan">
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list list-borderless" ng-repeat="item in supplyDetails.Details">
      <a ng-click="toggle(1)" hide-show class="item border-bottom-1">
        <strong>{{item.ProdName}}  <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></strong>
      </a>
      <div ng-hide="showme1">
        <label class="item item-input ">
          <span class="input-label"> 申请供货数量  </span>
          <input type="number"  ng-model="supplyinfo[$index].num" placeholder="剩余供货量{{item.SurplusNum+item.UName}}" required  />
        </label>

      </div>
    </div>

    <div class="list list-borderless">
      <label class="item item-input">
        <span class="input-label"> 供货次数  </span>
        <input type="number" ng-model="supplyinfo.SupCount" placeholder="(单位 : 天)">
      </label>

    </div>

    <div class="list list-borderless">
      <label class="item item-input">
        <span class="input-label"> 平均供货周期  </span>
        <input type="number" ng-model="supplyinfo.SupNum" placeholder="(单位 : 天; 不能大于总周期)">
      </label>

    </div>
    <div class="list list-borderless">
      <a ng-href="" class="item text-center border-bottom-1">
        <strong>供货总周期 : {{supplyDetails.Cycle==0?'无期限':supplyDetails.Cycle+'天'}}</strong>
      </a>
      <a class="item text-center item-button-right">
        <strong>预计物流费 : {{expressesCost}} 元</strong>
        <button class="button  button-calm button-outline" ng-click="calculateExpressesCost()">计算物流费</button>
      </a>
    </div>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <a  ng-disabled="!supplyplan.$valid" class="button button-calm full-image" ng-href="#/releasesupply">下一步</a>
  </div>
  </form>
</ion-view>
