<ion-view>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 供货计划</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list">
      <a ng-href="" class="item item-borderless">
        <strong>拆解机 : <span class="item-note"><i class="icon ion-chevron-down"></i></span></strong>
      </a>
      <label class="item item-input">
        <span class="input-label"> 申请供货数量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">台</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 剩余供货量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">台</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 供货次数 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">次</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 单次供货数量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">台</span>
      </label>

    </div>
    <div class="list">
      <a ng-href="" class="item item-borderless">
        <strong>电池 : <span class="item-note"><i class="icon ion-chevron-down"></i></span></strong>
      </a>
      <label class="item item-input">
        <span class="input-label"> 申请供货数量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">公斤</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 剩余供货量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">公斤</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 供货次数 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">次</span>
      </label>
      <label class="item item-input">
        <span class="input-label"> 单次供货数量 :</span>
        <input type="number">
        <span class="item-note padding-right margin-righ-1">台</span>
      </label>

    </div>

    <div class="list list-borderless">
      <a ng-href="" class="item text-center">
        <strong>预计物流费 :500元</strong>
      </a>
    </div>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <a class="button button-calm full-image  " ng-href="#/releasesupply">提交</a>
  </div>
</ion-view>
