<ion-view>
  <ion-nav-buttons side="left">
    <a class="button back-button buttons  header-item "  nav-direction=back ng-href="#/tab/main">
      <i class="icon ion-chevron-left"></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 接单供货</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-refresher on-refresh="supplygoodList(0)" pulling-text="下拉更新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-android-notifications"></i>
      <p>暂无订单信息</p>
    </div>
    <div class="list margin-top-1px">
      <a ng-href="#/supplydetails/{{item}}" class="item item-icon-right" ng-repeat="item in supplylist">
        <h2>订单号:{{item.No}} <span class="item-note jiedan-time">{{item.AddTime | date:'yyyy-MM-dd HH:mm'}}</span></h2>
        <h2 class="col-80">买货品类 : <span ng-repeat="items in item.Details"> {{items.ProdName}} </span></h2>
        <p  class="text-wrap col-80">剩余供货量 : <span  ng-repeat="items in item.Details" >  {{items.ProdName+' : '+items.SurplusNum+' '+items.UName}} </span> </p>

        <i class="icon ion-ios-arrow-right jiedan-icon  calm" ></i>
      </a>
    </div>
    <ion-infinite-scroll  on-infinite="supplygoodList()" ng-if="total > page"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
</ion-view>
