<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 收货单详情</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <div class="list">
      <a ng-click="toggle(1)" hide-show class="item item-borderless ">
        <h2><strong>订单号 : </strong>{{deliverDetails.No}}<span class="item-note"><i
          class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme1]"></i></span></h2>
      </a>
      <div ng-hide="showme1">
        <a ng-href="" class="item ">
          <h2>供货人 : {{deliverDetails.FromUsername}}</h2>
        </a>
        <a ng-href="" class="item ">
          <h2 ng-if="deliverDetails.OrdeType==1">订单状态 : <span>{{sellStatus[deliverDetails.Status+1]}}</span></h2>
          <h2 ng-if="deliverDetails.OrdeType==2">订单状态 : <span>{{supplyStatus[deliverDetails.Status+1]}}</span></h2>
        </a>
        <a ng-href="" class="item border-bottom-none">
          <h2>下单时间 : {{deliverDetails.AddTime |date:'yyyy-MM-dd HH:mm'}}</h2>
        </a>
      </div>
    </div>


    <div class="list">
      <a ng-click="toggle(2)" hide-show class="item item-borderless">
        <strong>{{deliverDetails.OrdeType==1?'卖货':'供货'}}清单  <span class="item-note"><i class="icon ion-chevron-down" ng-class="{true:'ion-chevron-right'}[showme2]"></i></span></strong>
      </a>
      <div ng-hide="showme2">
        <a ng-href="" class="item" ng-repeat="item in deliverDetails.OrdeType==1?deliverDetails.Details:deliverDetails.SpO_Details">
          <h2>{{item.ProdName}} : {{item.Num+item.UName}}</h2>
        </a>
      </div>
    </div>

  </ion-content>
  <div class="padding light-bg bottom-0">
    <a class="button button-calm full-image  " ng-href="#/sign">下一步</a>
  </div>
</ion-view>
