<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 签收</h1>
  </ion-nav-title>
  <div class="bar bar-subheader no-border">
    <div class="button-bar">
      <a ng-click="delivery()" class="button"
         ng-class="{true:'button-calm',false:'button-stable'}[goodtype==null||goodtype==1]">物流配送</a>
      <a ng-click="delivergoods()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==2]">送货上门</a>
      <a ng-click="oneself()" class="button" ng-class="{true:'button-calm',false:'button-stable'}[goodtype==3]">上门回收</a>
    </div>
  </div>
  <form  name="sign">
  <ion-content overflow-scroll="false" class="stable-bg  has-subheader has-button-footer">
    <div class="list padding-top">
      <label class="item item-input item-borderless">
        <span class="input-label"> 件数</span>
        <input type="number" placeholder="(单位 : 件)" ng-model="signinfo.Number" required/>
      </label>
      <label class="item item-input">
        <span class="input-label"> 重量</span>
        <input type="number" placeholder="(单位 : 公斤)" ng-model="signinfo.Weight" required/>
      </label>
<!--      <label class="item item-input" ng-show="goodtype==2">
        <span class="input-label"> 车牌号码</span>
        <input type="text" placeholder="填写真实车牌号码">
      </label>-->

      <div class="item " ng-show="goodtype==null||goodtype==1">
        <span class="input-label"><span class="padding-right">物流公司 : </span>
          <input ng-model="signinfo.ExpName" placeholder="填写或选择物流公司" class="no-border bankname"  list="expName" />
        <datalist id="expName">
          <option  ng-repeat="item in expresses">{{item.Name}}</option>
        </datalist></span>
        </div>
      <div class="item item-input item-icon-right" ng-show="goodtype==null||goodtype==1">
        <span class="input-label"> 物流单号:  </span>
        <input class="col-50"  type="number" placeholder="点击右侧图标扫描"  ng-model="signinfo.ExpNo"  ng-value="signinfo.ExpNo" />
        <i class="icon ion-qr-scanner" ng-click="barcodeScanner()" ></i>
      </div>
      <label class="item item-input" ng-show="goodtype==null||goodtype==1">
        <span class="input-label"> 提货费</span>
        <input type="number" placeholder="（单位 : 元）"  ng-model="signinfo.Cost"/>
      </label>
      <label class="item item-input" ng-show="goodtype==null||goodtype==1">
        <span class="input-label"> 物流费</span>
        <input type="number" placeholder="（单位 : 元）" ng-model="signinfo.ExpCost"/>
      </label>
      <label class="item item-input" ng-show="goodtype!=3">
        <span class="input-label"> 送货费</span>
        <input type="number" placeholder="（单位 : 元）" ng-model="signinfo.Cost"/>
      </label>
      <label class="item item-input item-icon-right border-bottom-none" ng-click="uploadActionSheet()">
        <span class="input-label"> 上传照片:  <span class="grey">货运车、车牌、货物包装照片</span></span>
        <i class="icon ion-android-add calm"></i>
      </label>
      <div class="row  row-wrap row-horizontal-around"  >
        <img ng-repeat="item in imageList" ng-click="shouBigImage(item)" ng-src="{{item}}" alt="" style="height: 6rem" class="col-33 padding">
      </div>
</div>
  </ion-content>
  <div class="padding light-bg bottom-0">
    <button ng-disabled="!sign.$valid" class="button button-calm full-image " ng-click="signsubmit()">提交</button>
  </div>
  </form>
  <div  ng-if="bigImage" class="popover-backdrop dark-bg" ng-click="hideBigImage()" >
    <img class="full-image"
         src="{{Url}}"/>
  </div>
</ion-view>
