<ion-view>
  <ion-nav-buttons side="left">
    <button class="button icon ion-chevron-left no-border" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 签收列表</h1>
  </ion-nav-title>


  <ion-content class="stable-bg" overflow-scroll="false">
    <div class="list margin-top-1px">
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
      <a ng-href="#/signdetails" class="item ">
        <h2>订单号: CG3934038403848 <span class="item-note">16/06/22 10:55AM   <i
          class="icon ion-ios-arrow-right"></i></span></h2>
        <p>卖货人 :张三</p>
        <p>手机号 :1893394533</p>
        <p>卖货品类 :拆解机 、二手手机 、电池</p>
        <p>订单状态 :已验货</p>

      </a>
    </div>
  </ion-content>
</ion-view>
