#userlogin{
  background: url("../img/login-bg.jpg") no-repeat;
  background-size: 100% 100%;
  padding-top: 2rem;
}
#userlogin .list{
  opacity: 0.8;
}


.account .icon:not(.ion-ios-arrow-right){
  color: #11c1f3;
}

.account  .ion-ios-arrow-right{
  color:#ddd;
}
.authcode{
  position: absolute;
  top: 3.2rem;
  right: 0.5rem;
  height: 40px;
  background-color:rgba(51,205,95,1);
  border: none;
  color: #ffffff;
  z-index: 1000;
}
.disabledauthcode{
  background-color:rgba(51,205,95,0.6);

}
.authcode:active{
  background-color: #33cd5f;
}

#mycredit{
  margin-top: -5rem;
  width: 100%;
  height: 100%;
}

#userlogin .button[disabled]{
  opacity: 0.8;
}

.bankname{
  padding-left: 2rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
