
#logo {
  position: relative;
  top: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;

}

.main-list {
  margin-top: 0.1rem;
  padding: 0;
}

.main-list a {
  height: 5rem;
  line-height: 5rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.main-list-last a {
  margin-top: 0.3rem;
  border-bottom: none;
}

.main-list .col p {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  line-height: 2.6rem;
  vertical-align: middle;
}

.second-list a {
  text-decoration: none;
}

.main-list .col p i, .second-list p i {
  color: #ffffff;
  font-size: 1.5rem;

}

.main-list .col span {
  padding-left: 0.3rem;
  color: #585858;
}

.second-list a {
  height: 5rem;
}

.second-list a p:first-child {
  margin: 0.4rem auto;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  line-height: 2.6rem;
}

.jiedan-icon:after {
  position: absolute;
  content: '我要接单';
  font-size: 1rem;
  right: 100%;
  top: 50%;
  margin-top: -0.6rem;
}

.jiedan-time {
  position: absolute;
  right: 22px;
}

#searhorder .tab-item-active {
  color: #fff;
  background-color: #11c1f3;
}

#searhorder .tab-nav {
  border: none;
  box-shadow: 0px 0px 10px #ddd
}
.evaluate-star{
  font-size: 1.8rem;

}

#start,#start img{
  width: 100%;
  height: 100%;
}

#searchorder.slider{
  height: 100%;
}

#main-slide img {
  height: 9rem;
}

.slider-pager-page.active {
  color: #11c1f3;
}
