
<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item   " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 卖货下单</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <ion-refresher on-refresh="sellProcure(0)" pulling-text="下拉更新"></ion-refresher>
    <ul class="list">
      <a ng-href="" class="item item-borderless">
        <strong>请选择产品 : </strong>
      </a>
      <li class="item item-checkbox " ng-repeat="item in sellprodsList"  >
        <label class="checkbox checkbox-calm" >
          <input type="checkbox" ng-model="item.checked"   ng-click="checkChecded()"    ng-checked="item.checked">
        </label>
        {{item.PName}}
      </li>
    </ul>
    <ion-infinite-scroll  on-infinite="sellProcure()" ng-if="total > currentPage"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>
  <div class="padding light-bg bottom-0">
    <a  ng-disabled="!ischecked"  class="button button-calm full-image"  ng-href="#/selldetails">下一步</a>
  </div>
</ion-view>

