<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item "  ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 卖货下单</h1>
  </ion-nav-title>

  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-refresher on-refresh="getListLongAndLatSupplier(0)" pulling-text="下拉更新"></ion-refresher>
    <div class="list">
      <a ng-href="" class="item item-borderless">
        <strong>供货商列表 : </strong>
      </a>
      <div ng-click="selectSupplier(item)" class="item item-icon-right" ng-repeat="item in supplierList">
        <h2>姓名 : {{item.UserName | hidepartinfo : 'name' }} <span class="item-note">距离 : {{item.Range}}</span></h2>
        <p>手机号码 : <span class="calm">{{item.Motel | hidepartinfo : 'phone'}}</span></p>
        <p class="text-wrap">地址 : {{item.Addr | hidepartinfo : 'address'}}</p>
        <i class="icon ion-ios-arrow-right grey-arrow-right"></i>
      </div>

    </div>
    <p ng-if="supplierList.length!=0" class="text-center padding-top grey"><i class="icon ion-information-circled"></i> 上滑列表可获取更多供货商信息</p>
    <ion-infinite-scroll  on-infinite="getListLongAndLatSupplier()" ng-if="totalsupplierList > pagesupplierList"  immediate-check="false">   </ion-infinite-scroll>
  </ion-content>

</ion-view>
