<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item   " ng-click="$ionicGoBack()">
      <i class="icon ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title "><img id="logo" src="img/logo.png" alt=""/> 卖货下单</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="has-button-footer stable-bg">
    <ul class="list">
      <a ng-href="" class="item item-borderless">
        <strong>请选择产品 : </strong>
      </a>

      <li class="item item-checkbox ">
        <label class="checkbox checkbox-calm">
          <input type="checkbox">
        </label>
        拆解机
      </li>

      <li class="item item-checkbox ">
        <label class="checkbox checkbox-calm">
          <input type="checkbox">
        </label>
        不合格拆解机
      </li>
      <li class="item item-checkbox ">
        <label class="checkbox checkbox-calm">
          <input type="checkbox">
        </label>
        二手手机
      </li>
      <li class="item item-checkbox  border-bottom-none">
        <label class="checkbox checkbox-calm">
          <input type="checkbox">
        </label>
        电池
      </li>

    </ul>
  </ion-content>
  <div class="padding light-bg bottom-0">
    <a class="button button-calm full-image" ng-href="#/selldetails">下一步</a>
  </div>
</ion-view>
